.navbar-wrapper {
	position: absolute;
	/* <----- PADDING -----> */
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.carousel {
	height: 490px;
	margin-top: 45px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	background-color: #444444;
	height: 490px;
}

.carousel-inner > .item > img {
	position: absolute;
	/* <----- PADDING -----> */
	top: 0;
	left: 0;
	height: 490px;
	min-width: 100%;
}

.featurette-divider {
	margin: 50px 0;
}