body > .row {
	margin: 15px;
}

.footer {
	position: static;
	background-color: #FFFFFF;
	bottom: 0px;
	height: 20px;
	padding-top: 45px;
	width: 100%;
}

/* FOR THE CAROUSEL: */
.carousel {
	height: 485px;
	margin-bottom: 0px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	background-color: #777;
	height: 485px;
}

.carousel-inner > .item > img {
	position: absolute;
	/* <----- PADDING -----> */
	top: 0;
	left: 0;
	height: 485px;
	min-width: 100%;
}

@media {
	.carousel-caption p {
		margin-bottom: 15px;
		font-size: 21px;
		line-height: 1.4;
	}
}