.featurette-divider {
	margin: 50px 0;
}

/* FOR STICKY FOOTER: */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 35px;
}

.navbar-wrapper {
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

.footer {
	position: relative;
	background-color: #FFFFFF;
	bottom: 0px;
	height: 25px;
	margin-bottom: 7.75px;
	padding-top: 30px;
	width: 100%;
}

body {
	padding-top: 70px;
}

body > .row {
	margin: 10px;
}